# ---------------------------------------------------------------------------------------------
# Excluded from repository 
# ---------------------------------------------------------------------------------------------
# IDE
#
.idea/
#
# Code
#
*.py[cod]
#
# Environments
.env
.venv
env/
venv/
#
# Python
#
__pycache__/
#
# EOF
